:root {
  --dice-size-width: 200px; /* 변수 생성 및 값 할당 */
}

.dice-container {
  perspective: 2000px;
  width: var(--dice-size-width);
  height: var(--dice-size-width);
  cursor: pointer;
}

.dice-container.rolling .dice {
  animation: roll 2s infinite;
}

@keyframes roll {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.dice {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid black;
}

.side1 {
  transform: rotateX(0deg) translateZ(calc(var(--dice-size-width) / 2))
    rotateZ(0deg);
}
.side2 {
  transform: rotateX(90deg) translateZ(calc(var(--dice-size-width) / 2))
    rotateZ(90deg);
}
.side3 {
  transform: rotateY(90deg) translateZ(calc(var(--dice-size-width) / 2))
    rotateZ(0deg);
}
.side4 {
  transform: rotateY(-90deg) translateZ(calc(var(--dice-size-width) / 2))
    rotateZ(0deg);
}
.side5 {
  transform: rotateX(-90deg) translateZ(calc(var(--dice-size-width) / 2))
    rotateZ(90deg);
}
.side6 {
  transform: rotateX(180deg) translateZ(calc(var(--dice-size-width) / 2))
    rotateZ(0deg);
}

.dice1 {
  background: url("../../../public/img/1.png") no-repeat;
  background-size: cover;
}
.dice2 {
  background: url("../../../public/img/2.png") no-repeat;
  background-size: cover;
}
.dice3 {
  background: url("../../../public/img/3.png") no-repeat;
  background-size: cover;
}
.dice4 {
  background: url("../../../public/img/4.png") no-repeat;
  background-size: cover;
}
.dice5 {
  background: url("../../../public/img/5.png") no-repeat;
  background-size: cover;
}
.dice6 {
  background: url("../../../public/img/6.png") no-repeat;
  background-size: cover;
}
